# 怎麼計算兩支股票的相關性？

底下是參考自 Wei Lin 的 Pandas 教學！

In [2]:
# 透過 參數對 計算出來的 彙總統計(如 相關係數和協方差)
import pandas.io.data as web
# from pandas_datareader import data, wb

from pandas import DataFrame

all_data = {}

for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker, '1/1/2013', '1/1/2015')
    
price = DataFrame({tic: data['Adj Close'] for tic, data in all_data.items()})
volume = DataFrame({tic: data['Volume'] for tic, data in all_data.items()})

In [3]:
# 百分比變化
returns = price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2014-12-24 -0.004709 -0.003430 -0.002589 -0.006398
2014-12-26  0.017677  0.009948  0.003213 -0.005401
2014-12-29 -0.000702 -0.006928 -0.011273 -0.008981
2014-12-30 -0.012203  0.000170 -0.002866 -0.009062
2014-12-31 -0.019019 -0.007579  0.002437 -0.012122

In [4]:
# corr() 用來計算相關係數
returns.MSFT.corr(returns.IBM)

0.26199989702339532

In [5]:
# cov()用來計算協方差
returns.MSFT.cov(returns.IBM)

4.0951205708951183e-05

In [6]:
# DataFrame的 corr(), cov() 將會返回相同形狀的矩陣
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.168597  0.140436  0.135613
GOOG  0.168597  1.000000  0.275024  0.327994
IBM   0.140436  0.275024  1.000000  0.262000
MSFT  0.135613  0.327994  0.262000  1.000000

In [7]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000253  0.000036  0.000025  0.000030
GOOG  0.000036  0.000185  0.000042  0.000062
IBM   0.000025  0.000042  0.000127  0.000041
MSFT  0.000030  0.000062  0.000041  0.000193

In [8]:
# 利用DataFrame的 corrwith()方法，可以計算列或行 跟另外一個Series或DataFrame之間的相關係數
returns.corrwith(returns.IBM)

AAPL    0.140436
GOOG    0.275024
IBM     1.000000
MSFT    0.262000
dtype: float64

In [9]:
returns.corrwith(volume)

AAPL   -0.134204
GOOG    0.231548
IBM    -0.343626
MSFT   -0.025271
dtype: float64